/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
    padding-left: 10%;
    height: auto; /* Remove fixed height */
    position: relative;
    text-orientation: sideways;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    align-items: center; /* Center-align items vertically */
}

.header-image {
    width: 150px; /* Adjust image size */
    height: 150px;
    border-radius: 50%; /* Make the image circular */
    margin-right: -700%; /* Add space between text and image */
}

h1 {
    margin: 0; /* Remove default margin for the heading */
}


/* Section styles */
section {
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

/* Add the animation class to trigger the animation */
.animation {
    animation: fadeIn 1s ease-in-out 1 forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
